@import url("whitespace-reset.css");

body { font: normal 13px Arial, Helvetica, sans-serif; }
canvas { margin: 0 0 20px 0; }
p {
  width: 800px;
  text-align: center; }
strong { padding: 0 0 20px 0; }
strong:first-of-type { padding: 0; }